<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MaMa Clean Services</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="./assets/img/favicon.png" rel="icon">
  <link href="./assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=https://fonts.googleapis.com/css?family=Inconsolata:400,500,600,700|Raleway:400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="./assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="./assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="./assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="./assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Navbar ======= -->
  <div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
    <div class="container py-2 py-md-5">
      <div class="row align-items-start">
        <div class="col-md-2">
          <ul class="custom-menu">
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="about.html">About MaMa Clean</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="works.html">Works</a></li>
            <li><a href="contact.html">Contacts</a></li>
          </ul>
        </div>
        <div class="col-md-6 d-none d-md-block  mr-auto">
          <div class="tweet d-flex">
            <span class="bi bi-twitter text-white mt-2 mr-3"></span>
            <div>
              <p><em>"Are you tired of coming home to a messy and cluttered house? Let our professional home cleaning service take care of the dirty work for you! Our website offers a variety of cleaning options to fit your needs and schedule. From basic cleaning to deep cleaning, we have it all. Trust us to make your home spotless and inviting. Plus, our team of experienced cleaners are background checked and insured for your peace of mind. Book now at Mama Clean and enjoy a cleaner home today!" <br> <a href="#">#cleanhomehappysoul</a></em></p>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-none d-md-block">
          <h3>Hire with Us</h3>
          <p>Look no further! With over 100 experienced cleaners with over 5 years of experience in providing top-notch cleaning services for both residential and commercial properties. <br> <a href="#">myemail@gmail.com</a></p>
        </div>
      </div>

    </div>
  </div>

  <nav class="navbar navbar-light custom-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">MaMa Clean.</a>
      <a href="#" class="burger" data-bs-toggle="collapse" data-bs-target="#main-navbar">
        <span></span>
      </a>
    </div>
  </nav>

  <main id="main">
 
    <!-- ======= Works Section ======= -->
    <section class="section site-portfolio">
      <div class="container">
        <div class="row mb-5 align-items-center">
          <div class="col-md-12 col-lg-6 mb-4 mb-lg-0" data-aos="fade-up">
            <h2>Hey <%-userFirstName%> , We're MaMa Clean</h2>
            <p class="mb-0">Wash &amp; Professional Cleaning Services</p>
          </div>
        </div>
          <div id="portfolio-grid2" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">
          </div>
      </div>
    </section><!-- End  Works Section -->
    <!-- ======= Services Section ======= -->
    <section class="section services">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <i class="bi bi-card-checklist"></i>
            <h4 class="h4 mb-2">House Cleaning</h4>
            <p>Our professional house cleaning service offers a variety of options to fit your needs and schedule. From basic cleaning to deep cleaning, we have it all. Trust us to make your home spotless and inviting. Plus, our team of experienced cleaners are background checked, insured and equipped with the latest tools and techniques for a thorough cleaning.</p>
            <ul class="list-unstyled list-line">
              <li>living Room cleaning</li>
              <li>Dinning Room Cleaning</li>
              <li>Beedroom Cleaning</li>
              <li>Bathroom Cleaning</li>
              <li>Kitchen Cleaning</li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <i class="bi bi-binoculars"></i>
            <h4 class="h4 mb-2">Compound &amp; Gardening</h4>
            <p>Bring your outdoor living spaces to life with our professional compound and gardening services! Whether you need regular maintenance, landscape design or a complete outdoor makeover, we have the expertise to turn your vision into reality. Our team of experienced gardeners and landscapers are equipped with the latest tools and techniques to create a beautiful, healthy and sustainable outdoor environment.</p>
            <ul class="list-unstyled list-line">
              <li>Lawn care</li>
              <li>Pruning</li>
              <li>Planting</li>
              <li>Mulching</li>
              <li>Tree care</li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <i class="bi bi-brightness-high"></i>
            <h4 class="h4 mb-2">Car Cleaning</h4>
            <p>Our professional car cleaning services will leave your vehicle looking like new. From the exterior to the interior, our team of experts will clean and detail every inch of your car.</p>
            <ul class="list-unstyled list-line">
              <li>Washing</li>
              <li>Waxing</li>
              <li>Polishing</li>
              <li>Vacuuming</li>
              <li>eather and upholstery cleaning</li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-md-6 col-lg-3">
            <i class="bi bi-calendar4-week"></i>
            <h4 class="h4 mb-2">Office Cleaning</h4>
            <p>Make a great first impression on clients and employees with a clean and organized office. Our professional office cleaning services will keep your workspace spotless and tidy. From daily cleaning to deep cleaning, we have a variety of options to fit your needs and budget. Our team of experienced cleaners are equipped with the latest tools and techniques to provide a thorough and efficient cleaning</p>
            <ul class="list-unstyled list-line">
              <li>Dusting</li>
              <li>Vacuuming</li>
              <li>Mopping</li>
              <li>Window washing</li>
              <li>Sanitizing</li>
            </ul>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section class="section pt-0">
      <div class="container">

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src="./assets/img/person_1.jpg" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>Best Cleaning Services in Nairobi.</p>
                  </blockquote>
                  <p>&mdash; Jean Hicks</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial">
                  <img src="./assets/img/person_2.jpg" alt="Image" class="img-fluid">
                  <blockquote>
                    <p>If only they had waste management service otherwise awsome services.</p>
                  </blockquote>
                  <p>&mdash; Chris Stanworth</p>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p class="mb-1">&copy; Copyright MaMa Services. All Rights Reserved</p>
          <div class="credits">
          
            Designed by <a href="https://bootstrapmade.com/">OpenSeasons</a>
          </div>
        </div>
        <div class="col-sm-6 social text-md-end">
          <a href="#"><span class="bi bi-twitter"></span></a>
          <a href="#"><span class="bi bi-facebook"></span></a>
          <a href="#"><span class="bi bi-instagram"></span></a>
          <a href="#"><span class="bi bi-linkedin"></span></a>
        </div>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="./assets/vendor/aos/aos.js"></script>
  <script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="./assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="./assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File & Dependancies -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="./assets/js/main.js"></script>

</body>

</html>